.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	width: 100%;
	margin: auto;
}

body {
	padding-top: 0;
}

#bodyContainer {
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}

.user {
	border-radius: 50%;
	display: block;
	height: 120px;
	margin: -55px auto 0;
	width: 120px;
	position: relative;
}

	.user img {
		background: none repeat scroll 0 0 #FFFFFF;
		border: 2px solid #FDD835;
		width: 100%;
		box-shadow: 0 5px 15px #616161;
	}

.footer > .container > a {
	color: black;
}

.carousel-indicators, .carousel-caption {
	bottom: 80px;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
	height: 300px;
}

.navbar-fixed-top {
	position: absolute;
}

.footer {
	position: relative;
}

@-moz-keyframes sc-down-a {
	0% {
		-webkit-transform: translateY(0px) rotate(45deg);
		-moz-transform: translateY(0px) rotate(45deg);
		-o-transform: translateY(0px) rotate(45deg);
		-ms-transform: translateY(0px) rotate(45deg);
		transform: translateY(0px) rotate(45deg);
	}

	100% {
		-webkit-transform: translateY(2px) rotate(45deg);
		-moz-transform: translateY(2px) rotate(45deg);
		-o-transform: translateY(2px) rotate(45deg);
		-ms-transform: translateY(2px) rotate(45deg);
		transform: translateY(2px) rotate(45deg);
	}
}

@-webkit-keyframes sc-down-a {
	0% {
		-webkit-transform: translateY(0px) rotate(45deg);
		-moz-transform: translateY(0px) rotate(45deg);
		-o-transform: translateY(0px) rotate(45deg);
		-ms-transform: translateY(0px) rotate(45deg);
		transform: translateY(0px) rotate(45deg);
	}

	100% {
		-webkit-transform: translateY(2px) rotate(45deg);
		-moz-transform: translateY(2px) rotate(45deg);
		-o-transform: translateY(2px) rotate(45deg);
		-ms-transform: translateY(2px) rotate(45deg);
		transform: translateY(2px) rotate(45deg);
	}
}

@-o-keyframes sc-down-a {
	0% {
		-webkit-transform: translateY(0px) rotate(45deg);
		-moz-transform: translateY(0px) rotate(45deg);
		-o-transform: translateY(0px) rotate(45deg);
		-ms-transform: translateY(0px) rotate(45deg);
		transform: translateY(0px) rotate(45deg);
	}

	100% {
		-webkit-transform: translateY(2px) rotate(45deg);
		-moz-transform: translateY(2px) rotate(45deg);
		-o-transform: translateY(2px) rotate(45deg);
		-ms-transform: translateY(2px) rotate(45deg);
		transform: translateY(2px) rotate(45deg);
	}
}

@keyframes sc-down-a {
	0% {
		-webkit-transform: translateY(0px) rotate(45deg);
		-moz-transform: translateY(0px) rotate(45deg);
		-o-transform: translateY(0px) rotate(45deg);
		-ms-transform: translateY(0px) rotate(45deg);
		transform: translateY(0px) rotate(45deg);
	}

	100% {
		-webkit-transform: translateY(2px) rotate(45deg);
		-moz-transform: translateY(2px) rotate(45deg);
		-o-transform: translateY(2px) rotate(45deg);
		-ms-transform: translateY(2px) rotate(45deg);
		transform: translateY(2px) rotate(45deg);
	}
}

.btn-scroll-down {
	width: 100px;
	height: 50px;
	position: absolute;
	bottom: 5px;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 10;
	-webkit-transition: display 0.5s easy-in-out;
	-moz-transition: display 0.5s easy-in-out;
	-o-transition: display 0.5s easy-in-out;
	-ms-transition: display 0.5s easy-in-out;
	transition: display 0.5s easy-in-out;
}

	.btn-scroll-down:before {
		bottom: 20px;
		width: 60px;
		height: 60px;
	}

	.btn-scroll-down:after {
		width: 30px;
		height: 30px;
		bottom: 35px;
		-webkit-animation: sc-down-a 0.3s infinite alternate;
		-moz-animation: sc-down-a 0.3s infinite alternate;
		-o-animation: sc-down-a 0.3s infinite alternate;
		-ms-animation: sc-down-a 0.3s infinite alternate;
		animation: sc-down-a 0.3s infinite alternate;
	}

	.btn-scroll-down:before, .btn-scroll-down:after {
		content: '';
		display: block;
		border-bottom: 1px solid #fff;
		border-right: 1px solid #fff;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
		margin: auto;
		position: absolute;
		left: 0;
		right: 0;
	}

.Infolabel {
	padding: 10px;
	width: 100%;
	border-bottom: 1px solid lightgray;
}

.bwizard-steps {
	display: inline-block;
	margin: 0;
	padding: 0;
	background: #fff;
	text-align: center;
	width: 100%;
}

	.bwizard-steps .active {
		/*color: #fff;*/
		background: #007ACC;
	}

		.bwizard-steps .active:after {
			border-left-color: #007ACC;
		}

		.bwizard-steps .active a {
			color: #fff;
			cursor: default;
		}

	.bwizard-steps .label {
		position: relative;
		top: -1px;
		margin: 0 5px 0 0;
		/*padding: 1px 5px 2px;*/
		padding: 4px;
		padding-right: 1px;
		background-color: white;
	}

	.bwizard-steps .active .label {
		background-color: #333;
	}

	.bwizard-steps li {
		display: inline-block;
		position: relative;
		margin-right: 5px;
		padding: 12px 17px 10px 30px;
		*display: inline;
		*padding-left: 17px;
		background: #efefef;
		line-height: 18px;
		list-style: none;
		zoom: 1;
		width: 32%;
		text-align: left;
	}

		.bwizard-steps li:first-child {
			padding-left: 12px;
			-moz-border-radius: 4px 0 0 4px;
			-webkit-border-radius: 4px 0 0 4px;
			border-radius: 4px 0 0 4px;
		}

			.bwizard-steps li:first-child:before {
				border: none;
			}

		.bwizard-steps li:last-child {
			margin-right: 0;
			-moz-border-radius: 0 4px 4px 0;
			-webkit-border-radius: 0 4px 4px 0;
			border-radius: 0 4px 4px 0;
		}

			.bwizard-steps li:last-child:after {
				border: none;
			}

		.bwizard-steps li:before {
			position: absolute;
			left: 0;
			top: 0;
			height: 0;
			width: 0;
			border-bottom: 20px inset transparent;
			border-left: 20px solid #fff;
			border-top: 20px inset transparent;
			content: "";
		}

		.bwizard-steps li:after {
			position: absolute;
			right: -20px;
			top: 0;
			height: 0;
			width: 0;
			border-bottom: 20px inset transparent;
			border-left: 20px solid #efefef;
			border-top: 20px inset transparent;
			content: "";
			z-index: 2;
		}

	.bwizard-steps a {
		color: #333;
	}

		.bwizard-steps a:hover {
			text-decoration: none;
			cursor: pointer;
		}

	.bwizard-steps.clickable li:not(.active) {
		cursor: pointer;
	}

	.bwizard-steps.clickable li:hover:not(.active) {
		background: #ccc;
	}

		.bwizard-steps.clickable li:hover:not(.active):after {
			border-left-color: #ccc;
		}

		.bwizard-steps.clickable li:hover:not(.active) a {
			color: #08c;
		}

/*@media (max-width: 480px) {
	badges only on small screens
	.bwizard-steps li:after,
	.bwizard-steps li:before {
		border: none;
	}

	.bwizard-steps li,
	.bwizard-steps li.active,
	.bwizard-steps li:first-child,
	.bwizard-steps li:last-child {
		margin-right: 0;
		padding: 0;
		background-color: transparent;
	}
}*/

.contact-buttom-remove {
	color: crimson;
	height: 100%;
	padding: 10px;
}

	.contact-buttom-remove:hover {
		color: red;
	}


ul.myErrorClass, input.myErrorClass, textarea.myErrorClass, select.myErrorClass, .select2Error {
	border-width: 1px !important;
	border-style: solid !important;
	border-color: #cc0000 !important;
	background-color: #f3d8d8 !important;
	background-image: url(http://goo.gl/GXVcmC) !important;
	background-position: 50% 50% !important;
	background-repeat: repeat !important;
}

	ul.myErrorClass input {
		color: #666 !important;
	}

label.myErrorClass {
	color: red;
	font-size: 11px;
	font-style: italic;
	display: block;
	margin-top: 5px;
}

a.myErrorClass {
	color: red;
	border-color: red;
}

ul.myErrorClass::-webkit-input-placeholder {
	color: #444 !important;
}

input.myErrorClass::-webkit-input-placeholder {
	color: #444 !important;
}

textarea.myErrorClass::-webkit-input-placeholder {
	color: #444 !important;
}

select.myErrorClass::-webkit-input-placeholder {
	color: #444 !important;
}



ul.myErrorClass:-moz-placeholder {
	color: #444 !important;
}

input.myErrorClass:-moz-placeholder {
	color: #444 !important;
}

textarea.myErrorClass:-moz-placeholder {
	color: #444 !important;
}

select.myErrorClass:-moz-placeholder {
	color: #444 !important;
}



ul.myErrorClass::-moz-placeholder {
	color: #444 !important;
}

input.myErrorClass::-moz-placeholder {
	color: #444 !important;
}

textarea.myErrorClass::-moz-placeholder {
	color: #444 !important;
}

select.myErrorClass::-moz-placeholder {
	color: #444 !important;
}



ul.myErrorClass:-ms-input-placeholder {
	color: #444 !important;
}

input.myErrorClass:-ms-input-placeholder {
	color: #444 !important;
}

textarea.myErrorClass:-ms-input-placeholder {
	color: #444 !important;
}

select.myErrorClass:-ms-input-placeholder {
	color: #444 !important;
}
