<ul class="nav navbar-nav navbar-right">
	<li>
		<a href="#">
			<i class="fa fa-facebook-square"></i>
			Like
		</a>
	</li>
	<li>
		<a href="#">
			<i class="fa fa-google-plus-square"></i>
			Plus
		</a>
	</li>
	<li>
		<a href="#">
			<i class="fa fa-pinterest"></i>
			Pin
		</a>
	</li>
</ul>
