<ul class="nav navbar-nav navbar-right" >
	<li>
		<a href="#" style="margin: 0; padding: 0;padding-right: 10px;">
			<img src="~/Content/Images/ic_action_tower_dark.png" />
		</a>
	</li>
	<li>
		<a href="#" style="margin: 0; padding: 0;padding-right: 10px;">
			<img src="~/Content/Images/ic_action_settings.png" />
		</a>
	</li>
	<li>
		<a href="@Url.Action(@"LogOff", @"Login")" style="margin: 0; padding: 0;">
			<img src="~/Content/Images/ic_action_logout.png"/>
		</a>
	</li>
</ul>
