<ul class="nav" style="display: inline-flex; display: -webkit-inline-box; float: right !important; margin-right: 20px;">
	@{
		if (Url.RequestContext.HttpContext.Request.Path.Equals(@"/Home/UserProfile", StringComparison.OrdinalIgnoreCase))
		{
			<li>
				<a href="@Url.Action(@"Index", @"Home")" style="margin: 0; padding: 0; padding-right: 10px; background-color: transparent;">
					<img src="~/Content/Images/ic_back_white.png" style="width: 48px;height: 48px;" />
				</a>
			</li>
		}
		else
		{
			<li>
				<a href="@Url.Action(@"UserProfile", @"Home")" style="margin: 0; padding: 0; padding-right: 10px; background-color: transparent;">
					<img src="~/Content/Images/ic_user_edit_white.png" style="width: 48px;height: 48px;" />
				</a>
			</li>
		}
	}
	<li>
		<a href="@Url.Action(@"Index", @"Home")" style="margin: 0; padding: 0; padding-right: 10px; background-color: transparent;">
			<img src="~/Content/Images/ic_action_tower_dark.png" />
		</a>
	</li>
	<li>
		<a href="#" style="margin: 0; padding: 0; padding-right: 10px; background-color: transparent;">
			<img src="~/Content/Images/ic_action_settings.png" />
		</a>
	</li>
	<li>
		<a href="@Url.Action(@"LogOff", @"Login")" style="margin: 0; padding: 0; background-color: transparent;">
			<img src="~/Content/Images/ic_action_logout.png" />
		</a>
	</li>
</ul>