@{
	ViewBag.Title = @"Error en la Transacción";
}

	<div style="display: none;color: white; padding: 10px;width: 200px;">
		<div style="margin-bottom: 10px;">@TempData[@"TypeExeption"]</div>
		<div>@TempData[@"MessageExeption"]</div>
	</div>



<div style="margin-top: 50px;">
	<div style="display: table;margin-left: auto;margin-right: auto;">
		<div style="display: table-row;text-align: center;vertical-align: middle;">
			<div style="display: table-cell;padding-right: 4.5px;">
				<img src="@Url.Content(@"~/Content/Images/error.png")">
			</div>
		</div>
		<div style="display: table-row;text-align: center;vertical-align: middle;">
			<div style="display: table-cell;">
				<h2 style="color: rgb(168, 169, 173);text-transform: uppercase;margin: 0;">Error en la Transacción</h2>
			</div>
		</div>
		<div style="display: table-row;text-align: center;vertical-align: middle;">
			<div style="display: table-cell;">
				<h5 style="color: rgb(168, 169, 173);margin: 0;">Ocurrió un error procesando su petición</h5>
			</div>
		</div>
	</div>
</div>